[submodule "Carthage/Checkouts/AppCanKit"]
	path = Carthage/Checkouts/AppCanKit
	url = https://github.com/sunyuping/AppCanKit.git
[submodule "Carthage/Checkouts/Ono"]
	path = Carthage/Checkouts/Ono
	url = https://github.com/sunyuping/Ono.git
[submodule "Carthage/Checkouts/pop"]
	path = Carthage/Checkouts/pop
	url = https://github.com/sunyuping/pop.git
